<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div>
        <header>
            <h1>Some Website</h1>
        </header>
        <nav>
            <div class="nav"></div>
            <div class="nav"></div>
            <div class="nav"></div>
            <div class="nav"></div>
        </nav>
        <main>
            <section>
                <img src="https://placekitten.com/g/300/300" alt="cat1">
                <p>lorem50</p>
            </section>
            <section>
                <div>
                    <img src="https://placekitten.com/150/150" alt="cat01">
                    <p>lorem20</p>
                </div>
                <div>
                    <img src="https://placekitten.com/150/150" alt="cat02">
                    <p>lorem20</p>
                </div>
                <div>
                    <img src="https://placekitten.com/150/150" alt="cat03">
                    <p>lorem20</p>
                </div>
                <div>
                    <img src="https://placekitten.com/150/150" alt="cat04">
                    <p>lorem20</p>
                </div>
            </section>
        </main>
        <aside>
            <div><img src="https://placekitten.com/100/100" alt="cat01"></div>
            <div><img src="https://placekitten.com/100/100" alt="cat02"></div>
            <div><img src="https://placekitten.com/100/100" alt="cat03"></div>
            <div><img src="https://placekitten.com/100/100" alt="cat04"></div>
        </aside>
    </div>
 
</body>
</html>